<!-- anuncio amazon -->
<div class="aawp">
    <div class="aawp-grid">
        <div class="aawp-grid__item">
            
            <div class="aawp-product aawp-product--horizontal aawp-product--ribbon aawp-product--sale" data-aawp-product-id="8493828955" data-aawp-product-title="Pranarôm Aceite esencial de lavanda fina AOP 5ml" data-aawp-geotargeting="true">

                <span class="aawp-product__ribbon aawp-product__ribbon--sale" >Oferta</span>
                <div class="aawp-product__thumb">
                    <a class="aawp-product__image-link" href="https://amzn.to/3wxH3sa" title="Pranarôm Aceite esencial de lavanda fina AOP 5ml" rel="nofollow" target="_blank">
                        <img class="aawp-product__image" src="https://images-na.ssl-images-amazon.com/images/I/71MA4%2BQiemL._AC_SY879_.jpg" alt="Pranarôm Aceite esencial de lavanda fina AOP 5ml" data-jpibfi-indexer="2" >
                    </a>
                </div>

                <div class="aawp-product__content">
                    <a style="color: rgb(231, 76, 60);" class="aawp-product__title a-title-adAmazon" href="https://amzn.to/3wxH3sa" title="Pranarôm Aceite esencial de lavanda fina AOP 5ml" rel="nofollow" target="_blank">
                        Pranarôm Aceite esencial de lavanda fina AOP 5ml</a>
                    <div class="aawp-product__description">
                        <ul class="ul-description-amazon">
                            <li>Huile Essentielle 100% puro y natural. </li>
                            <li>1 botella de 5 ml.</li>
                        </ul>        
                    </div>
                </div>

                <div class="aawp-product__footer">
                    <div class="aawp-product__pricing">
                        <!--<span class="aawp-product__price aawp-product__price--old">45,00 €</span>
                        <span  class="aawp-product__price aawp-product__price--saved">−5%</span>-->
                        <span class="aawp-product__price aawp-product__price--current">17,50 €</span>
                        <a class="aawp-check-prime" href="https://amzn.to/3wxH3sa" title="Amazon Prime" rel="nofollow" target="_blank"></a>        
                    </div>
                        <a class="aawp-button aawp-button--buy aawp-button aawp-button--amazon rounded shadow aawp-button--icon aawp-button--icon-black" href="https://amzn.to/3wxH3sa" title="Ver en Amazon" target="_blank" rel="nofollow"><i class="fa fa-shopping-cart"></i>  Ver en Amazon</a>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- fin anuncio amazon -->